header {
    background-color: rgb(22, 102, 223);
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
  }

  footer {
    background-color: rgb(22, 102, 223);
    padding: 10px;
    text-align: center;
    color: white;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  h3 {
      color:darkred
  }

  h4 {
      color: tomato;
  }

  li {
      color: olive;
  }

  p:first-letter {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    float: left;
    font-size: 1.5rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
  }